<a href="https://colab.research.google.com/github/aqsaaQaazi/PIAIC-Python/blob/main/roughOverAllPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# first ever print:

print("Hey There.!")

Hey There.!

In [3]:
# syntax variables in py

name = "Ali"       #naMe
age = 19           # int
pi = 3.14          #float

# list / array  - mutable
fruits = [
    "apple",
    "mango",
    "banana",
]

# tuples (same as list but immutable)

months_in_a_year = [
    "january",
    "february",
    "march",
    "april",
    "may",
    "june",
    "july",
    "august",
    "september",
    "october",
    "november",
    "december"
]

# dictionaries "dicts" same as objects in js/ts
# has key-value pairs

student = {
    "name": "ali",
    "guardian": "ahmed",
    "class": "primary",
    "major" : "science"
}

In [5]:
# asking user for input:

name = input("What is your name? ")
print("Hello " + name + "!")

age = input("How old are you? ")
print("You are " + age + " years old.")

What is your name? ali
Hello ali!
How old are you? 17
You are 17 years old.

In [7]:
# if else statements

age = int(input("How old are you? "))

if age >= 18:
    print("You are an adult.")
elif age >= 60:
    print("You are a senior citizen.")
else:
    print("You are a minor.")

How old are you? 31
You are an adult.

In [11]:
# for loops in python:
# Agar tumhe kisi list ke andar har cheez par loop lagana ho, toh for loop use karo.

# fruits list is declared earlier in a cell
for fruit in fruits:
    print(fruit)


# while loops
# Agar tumhe tab tak loop chalana ho jab tak ek condition true ho, toh while loop use karo.

x = 1
while x <= 5:
    print(x)
    x += 1

apple
mango
banana
1
2
3
4
5

In [14]:
# funxtions in python

def greet(name):
    print("Hello " + name + "!")

greet(name) # arg can be a string as well but i used a variable declared earlier cells

Hello ali!

In [26]:
# list methods in python:

fruits

fruits.append("orange") #adds orange in the list
fruits.remove("orange") #clearly says wht it does
fruits.sort()
fruits.pop(2) #removes the 2nd index forom list
print(fruits)

['apple', 'mango']

In [28]:
# error/exception handling in python:
# Try-except

try:                                 # woh code jo error de skta hai
  x = int(input("ek muber likho."))
  print(10/x)
except ZeroDivisionError:            # agr error aya toh yeh chkygaa
  print("0 se divide nhin krskty")
except ValueError:                  # agr phrse error aya toh yeh chlyga
  print("sahi se number likho")

ek muber likho.78
0.1282051282051282

In [50]:
# METHODS

# string

greet = "hello how are you"

print(greet.upper())                 #turns the string into uppercase
print(greet.replace("hello", "hi" )) #replaces hello with hi.
print(greet.lower())                 #into lowercase
print(greet.capitalize())            #capitalizes the first letter of greet (sentence).
print(greet.title())                 #into pascal case
print(greet.strip())                 #removes unnecessary spaces from beginning and in the end
print(greet.split(" "))              # jahn jahn space ho, wahn wahn se string ko split krke list mn store krna.
                                     # (jo operator use kiya h split method mn usi k thru split hoga)
salom = ["hello" , "i", "am", "learning", "python"]
print(" ".join(salom))               # joins the list into a string
print(greet.find("h"))               #finds the index of h in greet.
print(greet.count("u"))              # finds the counts of arument string

HELLO HOW ARE YOU
hi how are you
hello how are you
Hello how are you
Hello How Are You
hello how are you
['hello', 'how', 'are', 'you']
hello i am learning python
0
1

In [22]:
# METHODS

# LIST



smartphones = [
    "Samsung",
    "iphone",
    "Google Pixel",
    "ZTE",
    "HTC",
    "Redmi",
    "xiaomi",
    "realme",
    "infinx"
]
features = [
    "bluetooth", "portrait"
]
smartphones.append("android")                   #adds into list
smartphones.extend(features)                    # merges two lists
smartphones.extend(["panorama", "builtin AI"])  # another method
smartphones.insert(-2, "calculator")            # inserts string at a specific index
smartphones.remove("android")                   # removes android from the list
smartphones.pop()                               # removes the index given, default 0
smartphones.count("a")                          # tells how many time the given value is repeated in list
smartphones.sort()                              # sorts the array/ list alphabetically.
smartphones.reverse()                           # reverses the array/ list
smartphones.copy()                              # copies the array/ list
# smartphones.clear()                           # clears the array/ list


print(smartphones)

['xiaomi', 'realme', 'portrait', 'panorama', 'iphone', 'infinx', 'calculator', 'bluetooth', 'ZTE', 'Samsung', 'Redmi', 'HTC', 'Google Pixel']

In [33]:
# DICTS

student = {
    "name": "Ahmed",
    "age": 16,
    "grade": "A+",
    "subject": "Math"
}
print(student)

# types of accessing values in dicts:
# USING BRACKETS:
# this method might throw error if the key isnt find.
print(student["name"])

# using get method
# this method wont throw error when key is missing, istyead it will return default value
print(student.get("city", "not specified" )) # not specified is the default throwback

# ACCESSING ALL KEYS & VALUES:
print(student.keys())   # dict_keys(['name', 'age', 'grade', 'subject'])
print(student.values()) # dict_values(['Ahmed', 16, 'A+', 'Math'])
print(student.items())  # dict_items([('name', 'Ahmed'), ('age', 16), ('grade', 'A+'), ('subject', 'Math')])

# updating an existing value
student["grade"] = "A"
print(student)

# ADD a new pair.
student["city"] = "Karachi"
print(student)


# update method: can update and add a pair
student.update({"name": "Ali", "rollNo." : 165884 })
print(student)

# DELETING KEYS


# DEL method
del student["age"]
print(student)

# retrives the deleted value using pop
deleted_value = student.pop("subject")
print(deleted_value)


# removing a pair
student.pop("city")
print(student)

# .popitem() method removes last item in the list

{'name': 'Ahmed', 'age': 16, 'grade': 'A+', 'subject': 'Math'}
Ahmed
not specified
dict_keys(['name', 'age', 'grade', 'subject'])
dict_values(['Ahmed', 16, 'A+', 'Math'])
dict_items([('name', 'Ahmed'), ('age', 16), ('grade', 'A+'), ('subject', 'Math')])
{'name': 'Ahmed', 'age': 16, 'grade': 'A', 'subject': 'Math'}
{'name': 'Ahmed', 'age': 16, 'grade': 'A', 'subject': 'Math', 'city': 'Karachi'}
{'name': 'Ali', 'age': 16, 'grade': 'A', 'subject': 'Math', 'city': 'Karachi', 'rollNo.': 165884}
{'name': 'Ali', 'grade': 'A', 'subject': 'Math', 'city': 'Karachi', 'rollNo.': 165884}
Math
{'name': 'Ali', 'grade': 'A', 'rollNo.': 165884}

In [38]:
# LOOPS IN DICTS


# loop over keys
for key in student:
  print(key)

# loop over values
for value in student.values():
  print(value)


# loop for both

for key, value in student.items():
  print(f"{key} => {value}")

name
grade
rollNo.
Ali
A
165884
name => Ali
grade => A
rollNo. => 165884